body {
	background-image: url("../images/rev1.jpg");
}
.boxes {
 	height: 130px;
 	width: 130px;
 	border: 1px groove red;
 	float: left;

}
.clearfix {
	width: 420px;
	margin: 0 auto;
	/*position: relative;
	left: 200px;
	top: 50px;*/
}
.clearfix:before,
.clearfix:after {
 	content: ""; 
 	display: table; 
}
.clearfix:after {
 	clear: both;
}

.X {
	background-image: url("../images/flag1.png");
	/*background-color: blue;*/
}
.O {
	background-image: url("../images/flag2.png");
	/*background-color: green;*/
}
.reset-button {
	background-color: #999;
	width: 100px;
	height: 50px;
	margin: 20px auto;
}
p {
	text-align: center;
	padding: 15px 0 0 0;
}
.message {
	text-align: center;
	margin: 10px;
}

h1 {
	text-align: center;
	color: blue;
}
h2 {
	color: red;
}
h3 {
	text-align: center;
	color: red;
}
