.boxes {
 	height: 100px;
 	width: 100px;
 	border: 1px solid black;
 	float: left;
}
.clearfix {
	width: 400px;
	position: relative;
	left: 200px;
	top: 50px;
}
.clearfix:before,
.clearfix:after {
 	content: ""; 
 	display: table; 
}
.clearfix:after {
 	clear: both;
}

.X {
	background-color: blue;
}
.O {
	background-color: green;
}



/*
ng-class="{move: box.active}"
*/
