body {
	background-image: url("../images/rev1.jpg");
	background-repeat: no-repeat;
}
.boxes {
 	height: 130px;
 	width: 130px;
 	border: 1px solid white;
 	float: left;
}
/*.boxes:hover {
	background-image: url("../images/george.jpg");
	opacity: .2;
}*/
.clearfix {
	width: 400px;
	margin: 0 auto;
	/*position: relative;
	left: 200px;
	top: 50px;*/
}
.scoreAmerica {
	width: 50px;
	height: 50px;
	border: 1px solid blue;
	float: left;
	position: relative;
	right: 60px;

}
.scoreEngland {
	width: 50px;
	height: 50px;
	border: 1px solid red;
	float: left;
	margin: 0 10px 0 10px;
	position: relative;
	left: 350px;
}
.reset-buttons {
	bottom: 25px;
}
.reset-buttons:before,
.reset-buttons:after {
	content: ""; 
 	display: table;
}
.scoreboard:before,
.scoreboard:after {
	content: ""; 
 	display: table; 
}
.scoreboard:after {
	clear: both;
}
}
.clearfix:before,
.clearfix:after {
 	content: ""; 
 	display: table; 
}
.clearfix:after {
 	clear: both;
}

.X {
	background-image: url("../images/flag1.png");
	/*background-color: blue;*/
}
.O {
	background-image: url("../images/flag2.png");
	/*background-color: green;*/
}
.reset-button {
	background-color: #528dc4;
	width: 100px;
	height: 40px;
	margin: 15px auto;
	color: red;
	/*float: left;*/
}
p {
	text-align: center;
	padding: 10px 0 0 0;
}
.message {
	text-align: center;
	margin: 10px;
}

h1 {
	text-align: center;
	color: blue;
}
h2 {
	color: red;
}
h3 {
	text-align: center;
	color: red;
}
h4 {
	text-align: center;
	color: red;
}
.patriots-blue {
	color: blue;
}
.font-black {
	color: white;
}
.redcoat-red {
	color: red;
}
.reset-game {
	background-color: #ff2828;
	width: 100px;
	height: 40px;
	margin: 15px auto;
	color: blue;
	/*float: left;*/
}
audio {
	position: relative;
	top: 20px;
	left: 50px;
}

